{% extends 'base.html' %}

{% block content %}
    <table class="table table-responsive">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
            {% for fan in fan_list %}
                <tr>
                    <th scope="row">{{ fan.id }}</th>
                    <td><a href="{{ fan.get_absolute_url }}">{{ fan.name }}</a></td>
                    <td>
                        {% if fan.light %}
                            <a href="{% url 'fan_toggle' pk=fan.pk %}" class="btn btn-sm btn-light">On</a>
                        {% else %}
                            <a href="{% url 'fan_toggle' pk=fan.pk %}" class="btn btn-sm btn-dark">Off</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}